
.navbar {
  overflow: hidden;
  background-color: #333;
  margin-left: 0;
  height: 60px;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #7fffd4;
}
.s{
  margin-right:400px;
  letter-spacing: 2px;
  font-size:20px;
}
.s:hover{
  color:none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.parent{
  width:100%;
  margin-top:100px;
  height:390px;
  background-color:black;
}

.child1{
  width:300px;
  height:342px;
  display: inline-block;
  float:left;
  background-color: white;
  color:gray;
  margin-right:15px;
  box-shadow: 0 0 10px #000000;
  border:1px solid white;
}
.child1 img{
  width:50px;
  height:50px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
}
.p{
  display:block;
  width:274px;
  height:112px;
margin-left:30px;
padding-top:10px;
font-size:20px;
padding-right:8px;
text-align: center;
}
.child1 h4{
  text-align: center;
  margin-top: 10px;
  padding-top:10px;
  color:black;
  font-size:20px;
}

.child11{
  width:300px;
  height:342px;
  display: inline-block;
  float:left;
  background-color: white;
  color:gray;
  margin-right:15px;
  box-shadow: 0 0 10px #000000;
  border:1px solid white;
}
.child11 img{
  width:50px;
  height:50px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
}
.p{
  display:block;
  width:274px;
  height:112px;
margin-left:30px;
padding-top:10px;
font-size:20px;
padding-right:8px;
text-align: center;
}
.child11 h4{
  text-align: center;
  margin-top: 10px;
  padding-top:10px;
  color:black;
  font-size:20px;
}

.child12{
  width:300px;
  height:342px;
  display: inline-block;
  float:left;
  background-color: white;
  color:gray;
  margin-right:15px;
  box-shadow: 0 0 10px #000000;
  border:1px solid white;
}
.child12 img{
  width:50px;
  height:50px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
}
.p{
  display:block;
  width:274px;
  height:112px;
margin-left:30px;
padding-top:10px;
font-size:20px;
padding-right:8px;
text-align: center;
}
.child12 h4{
  text-align: center;
  margin-top: 10px;
  padding-top:10px;
  color:black;
  font-size:20px;
}

.child13{
  width:300px;
  height:342px;
  display: inline-block;
  float:left;
  background-color: white;
  color:gray;
  margin-right:15px;
  box-shadow: 0 0 10px #000000;
  border:1px solid white;
}
.child13 img{
  width:50px;
  height:50px;
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top:30px;
}
.p{
  display:block;
  width:274px;
  height:112px;
margin-left:30px;
padding-top:10px;
font-size:20px;
padding-right:8px;
text-align: center;
}
.child13 h4{
  text-align: center;
  margin-top: 10px;
  padding-top:10px;
  color:black;
  font-size:20px;
}
border.child13:hover{color: blue;}
.s{
  margin-left:50px;
}
 border:hover{
  background-color:blue;
}
.parent1{
  width:1150px;
  height:450px;
  margin-top:60px;
  margin-bottom: 60px;
background-color: white;
  margin-left:100px;
  margin-right: 100px;
  display:inline-block;
}
.child2 img{
  width:550px;
  height:450px;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 15px;
float:left;
display:inline-block;
padding-right: 20px;
}
.root{
  width:100%;
  height:550px;
  background-color: #dcdcdc;
  padding-bottom: 15px;
  padding-top: 5px;
  margin-top:60px;
  margin-bottom: 60px;
}
.child3{
  background-color:white;
  color:gray;
  width:500px;
  height:150px;
margin-top:50px;
margin-left:30px;
margin-bottom: 0;
float:left;
display:inline-block;
padding-left:10px;
padding-right:10px;
}
.child3 img{
  width:50px;
  height:50px;
  margin-top: 40px;
  margin-left: 5px;
  float:left;
  display:inline-block
}
.child3 p{
  display:inline-block;
}
 h3{
  margin-top: 80px;
  margin-left: 20px;
  padding-top: 25px;
  float:left;
  font-size: 20px;
}
.child3 p{
  float:left;
  display:inline-block;
  padding-left: 70px;
  padding-top: 0;
  font-size: 17px;
}
.child3 h3{
  color:black;
}
.grand{
  width:100%;
  height:1800px;
  background-color:tomato;
  margin-top: 0px;
  margin-bottom: 60px;
}
.grand h4{
  text-align: center;
  font-size:30px;
  color:black;
  padding-top: 50px;
}
.grand p{
  display:block;
  font-size: 20px;
  text-align:center;
  color:black;
  margin-left: 20px;
  margin-right: 20px;
}
.grandchild1 img{
  width:500px;
  height:250px;
  margin-left: 80px;
  margin-top: 10px;
display:inline-block;
float:left;
}
.grandchild2{
  display:inline-block;
  width:650px;
  height:250px;
  margin-top: 10px;
  background-color: green;
  margin-left: 20px;
  padding-left: 0;
}
.grandchild2 h3 {
  padding-top: 0;
  margin-left: 0;
  letter-spacing: 1px;
}
.grandchild2 li{
  list-style-type: none;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 3px;
}
.grandchild2 p{
  text-align: left;
  margin-left: 0;
}
.grandchild2 ol{
  padding-left: 3px;
}
.grandchild3 img{
  width:500px;
  height:300px;
  margin-top: 5px;
display:inline-block;
float:right;
margin-top: 90px;
margin-right: 50px;
}
.grandchild4{
  display:inline-block;
  width:670px;
  height:250px;
  margin-top: 100px;
  background-color: green;
  margin-left: 80px;
  padding-left: 0;
  float:left;
  margin-right: 10px;
}
.grandchild4 h3{
  padding-top: 0;
  margin-left: 0;
  letter-spacing: 1px;
}
.grandchild4 p{
text-align: left;
  margin-left: 0;
  padding-top: 2px;
  font-style: italic!important;
}
.grandchild5 img{
  width:550px;
  height:320px;
  margin-left: 80px;
  margin-top: 120px;
display:inline-block;
float:left;
}
.grandchild6{
  display:inline-block;
  width:650px;
  height:280px;
  margin-top: 90px;
  background-color: green;
  margin-left: 20px;
  padding-left: 0;
}
.grandchild6 h3 {
  padding-top: 0;
  margin-left: 0;
  letter-spacing: 1px;
}
.grandchild6 li{
  list-style-type: none;
  font-size: 15px;
  letter-spacing: 1px;
  padding-top: 4px;
}
.grandchild6 p{
  text-align: left;
  margin-left: 0;
}
.grandchild6 ol{
  padding-left: 3px;
}
.grandchild7 img{
  width:500px;
  height:300px;
display:inline-block;
float:right;
margin-top: 200px;
margin-right: 50px;
}
.grandchild8{
  display:inline-block;
  width:670px;
  height:250px;
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 190px;
  background-color: green;
  margin-left: 80px;
  padding-left: 0;
  float:left;
  margin-right: 10px;
}
.grandchild8 h3{
  padding-top: 0;
  margin-left: 0;
  letter-spacing: 1px;
}
.grandchild8 p{
text-align: left;
  margin-left: 0;
  padding-top: 2px;
  font-style: italic!important;
}
.bottom{
  background-color: #0b212d;
  width:100%;
  height:680px;
  margin-top: 0;
}
.bottom1{
margin-left: 120px;
background-color: green;
}
.bottom1 h3{
  color: #a2cce3;
  margin-left: 0;
}
 .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}
.form{
  display:block;
}
.col-lg-6{
    width: 100%;
    padding-right: 15px;
    padding-left: 100px;
}
.list1{
  display:inline-block;
  background-color: tomato;
  color:#a2cce3;
  margin-left: 80px;
  margin-top: 50px;
  margin-right: 15px;
  padding:20px;
}
.list1 li a{
  text-decoration: none;
  color:white;
}
.list1 li{
  list-style-type: none;
  padding-bottom: 10px;
}
.list1  ul{
list-style-type: none;
margin: 0;
padding: 0;
padding-top: 5px;
}
.list1 ul li {
  padding-top: 5px;
}
li a:hover{color:#a2cce3}
.list2{
  display:inline-block;
  background-color: tomato;
  color:#a2cce3;
  margin-left: 80px;
  margin-top: 50px;
  margin-right: 15px;
  padding:20px;
}
.list2 li a{
  text-decoration: none;
  color:white;
}
.list2 li{
  list-style-type: none;
  padding-bottom: 10px;
}
.list2  ul{
list-style-type: none;
margin: 0;
padding: 0;
padding-top: 5px;
}
.list2 ul li {
  padding-top: 5px;
}
li a:hover{color:#a2cce3}
.list3{
  display:inline-block;
  background-color: tomato;
  color:#a2cce3;
  margin-left: 80px;
  margin-top: 40px;
  margin-right: 15px;
  padding:20px;
}

.list3 p{
  padding-top: 45px;
  font-size: 15px;
}
.list4{
  display:inline-block;
  background-color: tomato;
  color:#a2cce3;
  margin-left: 80px;
  margin-top: 40px;
  padding:20px;
  margin-right: 20px;
}
.list4 p{
  padding-top: 30px;
}
.list4 li img {
  width:25px;
  height:25px;
}
.list4 li{
  list-style-type: none;
  float:left;
  padding-left: 0;
}
.list4 ol{
  padding-left: 0;
}
.list4 ol li img{
  padding: 3px;
  width:40px;
  height:40px;
}
.bottom hr{
   height: 1px;
  background-color: #a2cce3;
  border: none;
}
.a{
  padding-top: 13px;
  text-align: center;
  color:white;
}
.b{
  text-align: center;
  color:white;
  padding-top: 3px;
}
.top{
  background-color: black;
  width:100%;
  height:60px;
  color:white;
  display: relative;
  top:0;
  left:0;
  margin-top: 0;
}
.top1{

}
